/*stil za registraciju*/
/* From Uiverse.io by reshades */ 
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #00000000;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid #369eff66;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  .form p {
    color: #fff;
    font-weight: bolder;
  }
  
  .path {
    fill: #369eff
  }
  
  .svg {
    filter: blur(20px);
    z-index: -1;
    position: absolute;
    opacity: 50%;
    animation: anim 3s infinite;
  }
  
  .inp {
    margin-left: auto;
    margin-right: auto;
    white-space: 4px;
  }
  
  .input + .input {
    margin-left: 0.3em
  }
  
  .input {
    color: #fff;
    height: 3em;
    width: 3em;
    float: left;
    text-align: center;
    background: #00000000;
    outline: none;
    border: 1px #369eff solid;
    border-radius: 10px;
    transition: all 0.6s ease;
    font-size: 1.5em;
  }
  
  .input:focus {
    outline: none;
    border: 1px #fff solid;
  }
  
  .input:not(:placeholder-shown) {
    opacity: 40%
  }
  
  .form button {
    margin-left: auto;
    margin-right: auto;
    background-color: #00000000;
    color: #fff;
    width: 100%;
    max-width: 200px;
    height: 3em;
    border: #369eff 0.2em solid;
    border-radius: 11px;
    transition: all 0.5s ease;
    font-size: 1.2em;
  }
  
  .form button:hover {
    background-color: #369eff;
  }
  
  @keyframes anim {
    0% {
      transform: translateY(-70px);
    }
  
    50% {
      transform: translateY(-19px);
    }
  
    100% {
      transform: translateY(-70px);
    }
  }

  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  body {
    background-color: #808080; /* Gray background color */
  }
  /*sdf*/